<div id="bfbg">
  <div class="container">
    <div class="logo">
    <center><img src="modules/core/img/brand/taskio.png"></center>
    </div>
  </div>
</div>

<section data-ng-controller="HomeController">
</section>


<div class="container test">
  <div class="text-center">
    <h1>Taskio</h1>
    <h2>you've got things to do</h2>
    <br>
    <img src="modules/core/img/brand/dividerwide.png">
    <br>
  </div>
</div>

<div class="container-fluid orange">
  <div class="row-fluid threepoints">
  	<div class="col-sm-4 pullout">
  		<h2>your time is important</h2>
  		<h4>Focus on the tasks you actually need to do. Taskio deletes incomplete tasks after 7 days, focusing you on what really needs to be done.</h4>
  	</div>
  	<div class="col-sm-4 pullout">
  		<h2>login how you want</h2>
  		<h4>Taskio authenticates with Facebook, Twitter, OpenID and more. Login your way and never worry about being forced to share your data.</h4>
  	</div>
  	<div class="col-sm-4 pullout">
  		<h2>oh no even more shit!</h2>
  	</div>
  </div>
</div>

<div class="container-fluid">
  <div class="row-fluid">
    <div class="col-lg-6 black text-center"> CONTAINER </div>
    <div class="col-lg-6 grey text-center"> FLUID</div>
  </div>
</div>
